.terceiro-banner-mobile {display: none;}

.terceiro-banner {
    /*opacity: 0.9;*/
    height: 560px;
    position: relative;
    background-image: url("../img/portao-casa.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    /*box-shadow: inset 0 0 0 200px rgba(0,0,0,.1);*/
}

.efeito-mobile {display: none;}

.efeito-esquerdo {
    text-align: justify;
    float: left;
    color: #FFF;
    background-color: #35AECC;
    padding: 180px;
    width: 800px;
    position: absolute;
    top: 200px;
    transform: translate(0%, -36%);
}

.titulo-empresa {
    text-align: justify;
    font-family: Lato;
    font-size: 30px;
    font-weight: bold;
    color: #FFF;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}

.texto-sobre{
    text-align: justify;
    font-size: 18px;
    font-family: Lato;
    color: #FFF;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}

.quarto-banner {
    opacity: 0.8;
    height: 560px;
    position: relative;
    background-image: url("../img/trabalhador.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.efeito-direito {
    top: 200px;
    text-align: justify;
    float: right;
    color: #FFF;
    background-color: #006C99;
    background-color: #039BC0;
    padding: 180px;
    width: 800px;
    transform: translate(0, 20%);
}

.titulo-divulgacao {
    text-align: justify;
    font-family: Lato;
    font-size: 30px;
    font-weight: bold;
    color: #FFF;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}

.divulgar {
    font-family: Lato;
    font-size: 18px;
    color: #FFF;
    text-align: justify;
    position: absolute;
    /*top: 54%;*/
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}


@media only screen and (max-width:900px) {   
    
    /*efeitos da coluna esquerda e direita*/
    .efeito-esquerdo {display: none;}
    .efeito-direito {display: none;}
    
    .efeito-mobile {display: block !important;}

    .terceiro-banner {display:  none !important;}
    
    /*banner da primeiro coluna*/
    .terceiro-banner-mobile {
        height: auto;
        position: relative;
        background-image: url("../img/portao-casa.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        padding: 100px;
        /*box-shadow: inset 0 0 0 200px rgba(0,0,0,.1);*/
        display: block;
        opacity: 0.8;
    }

    .quarto-banner {display: none !important;}
    
    /*banner da segunda coluna*/
    .quarto-banner-mobile {
        height: auto;
        position: relative;
        background-image: url("../img/trabalhador.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        padding: 100px;
        /*box-shadow: inset 0 0 0 200px rgba(0,0,0,.1);*/
        display: block !important;
        opacity: 0.8;
    }
    
    .titulo-mobile {
        font-size: 25px;
        text-align: center;
    }
    
    .efeito-mobile {
        text-align: justify;
        color: #FFF;
        background-color: #35AECC;
        padding: 40px;
        top: 20%;
    }
    
    .titulo-empresa {
        font-size: 25px !important;
        width: 90vw !important;
        top: 15% !important;
        left: 50% !important;
        
    }
    
    .texto-sobre {
        font-size: 15px !important;
        top: 65% !important;
        left: 35% !important;
        width: 60% !important; 
    }
    
    .terceiro-banner {
        height: 550px !important;
    }
    
    .quarto-banner {
        height: 550px !important;
        overflow: hidden !important;
    }
    
    .titulo-divulgacao {
        font-size: 25px !important;
        width: 60% !important;
        left: 60% !important;
    }
    
    .divulgar {
        font-size: 15px !important; 
        top: 55% !important;
        left: 60% !important;
        width: 60% !important;
    }
    
    .efeito-direito {
        padding: 150px !important;
        top: 50% !important;
        transform: translate(0, 25%);
    }
    
}


@media only screen and (max-width:500px) {   
    .terceiro-banner-mobile {
        padding: 30px !important;
    }

    .efeito-mobile {
        padding: 10px !important;
    }

    .quarto-banner-mobile {
        padding: 30px !important;
    }


}