/*
.content {  
    background-color: rgba(51, 51, 51, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}*/

.box {
    width: 100%;
    background: #fff;
    padding: 30px 80px;
    border: 1px solid rgba;
    margin-top: 25px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.box textarea,
.box input {
    padding: 10px 0;
    margin-bottom: 30px;
    padding: 10px 0px;
    margin-bottom: 30px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: none;
    border-bottom: 2px solid #999;
}


.box form div
{
    position: relative;
}

/*.all-label {
    top: 20px;
    color: #f7497d !important;
}*/

/*.box form div .all-label {
    position: absolute !important;
    top: 10px !important;
    left: 0 !important;
    pointer-events: none !important;
    transition: .5s !important;
}*/


.labels {
    float:left;
    color: #f7497d;
}

.box textarea:focus,
.box input:focus,
.box input:valid ~ .labelsl {
    border-bottom: 1px solid #f7497d !important;
}




/*


.btnSubmit {
    border: none;
    border-bottom:  2px solid #999;
    background-color: #337AB7;
    font-weight: bold;
    color: #fff;
    width: 100%;
    height: 40px;
}

.btnSubmit:hover {
    background-color: #286090;
}
*/
.inputText {
    margin-top: 20px;
}

#txtMsg {
    box-shadow: none !important;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid #999;
    resize: none;

}

#menssagem {
    border-bottom: 1px solid #f7497d !important;
}

.quinto-banner {
    height: 450px;
    position: relative;
    /*background-image: url("../img/portao-garagem.jpg");*/
    background-image: url("../img/portao-casa.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 350px rgba(0,0,0,.1);
    opacity: 0.9;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
}

.texto-banner {
    text-align: center;
    font-family: Lato;
    font-size: 36px;
    font-weight: bold;
    color: #FFF;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}

 /*       button:focus {
            outline: 0 !important;
            outline: yellowgreen
        }
       
       }*/
