
/*rodape*/

.footer-mobile{display: none !important;}
.footer-desktop{display: block !important;}

.alinhamento-footer {
    margin-top: 63px;
}

.footer-color {
    background-color: #006C99;
    height: 200px;
    color: #FFF;
}

.tamanho-fonte {
    font-size: 20px;
}

.mini-container {
    margin: 0 auto;
    padding: 0 auto;
    width: 300px;
    height: auto;
}

.space-text {
    margin-top: 15px;
}

.endereco {
    color: #FFF;
    text-decoration: none !important;
}

.endereco:hover {
    color: #FFF;
    cursor: pointer;
}

#tamanho {
    margin-top: 5px;
    width: 190px;
    height: 29px;
} 


@media only screen and (max-width:1000px) {
    .tamanho {
        width: 100%;
        margin-left: 0%;
        font-size: 16px;
        font-family: Lato;
        font-weight: bold;
    }
    .anuncio {
        font-size: 15px !important;
    }
    
    .left-column {
        min-width: 100% !important;
    }
    
    .center-column {
        min-width: 100% !important;
    }
    
    .right-column {
        min-width: 100% !important;        
    }
    
    .footer-mobile{display: block !important;}
    .footer-desktop{display: none !important;}
    
    .footer-color {
        height: 420px !important;
    }
}